data/config.php
data/config-internal.php
data/cache/
data/logs/
data/upload/
public/upload/
public/files/
public/pdf/
vendor/
venv/
node_modules/
*.log
*.tmp
.DS_Store
Thumbs.db
.idea/
.vscode/
test_env.php
application/
client/modules/
install/
